<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{satellites.length}}</span></div>
    <div>Total Communication: <span>{{satCount("Communication")}}</span></div>
    <div>Total Positioning: <span>{{satCount("Positioning")}}</span></div>
    <div>Total Probe: <span>{{satCount("Probe")}}</span></div>
    <div>Total Space Debris: <span>{{satCount("Space Debris")}}</span></div>
    <div>Total Space Station: <span>{{satCount("Space Station")}}</span></div>
    <div>Total Telescope: <span>{{satCount("Telescope")}}</span></div>
</div>
